nav,li,ul,a,p {
    margin: 0;
    padding: 0;
}
.border-left{
  border-left: 1px solid #F2F2F2;
}
.border-right{
  border-right: 1px solid #F2F2F2;
}
.border-bottom{
  border-bottom: 1px solid #F2F2F2;
}
.border-top{
  border-top: 1px solid #F2F2F2;
}
.brand-logo {
    border-radius: 50%;
    max-height: 100px;
}
.five-pad {
    padding: 5px;
}
#page {
    min-height: 500px;
    padding-top: 20px;
}
.navigation {
    background-color:black;
}
nav > ul >li {
    font-style: normal;
    float: left;
    list-style: none;
    padding: 10px;
    padding-right: 20px;
}
.nav-buttons {
    color: #848484;
}
nav>ul>li>a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
nav>ul>li>a:active {
    text-decoration: none;
}
nav>ul>li:hover {
    border-bottom: 3px solid salmon;
}
nav>ul>li>a:visited {
    text-decoration: none;
}
.right {
    position: absolute;
    right: 50px;
}
.divider-bottom {
    border-bottom: 4px solid #F2F2F2;
}
.divider-top {
    border-top: 4px solid #F2F2F2;
}
.ftr-block{
    height: 30px;
}
.ftr-text {
    padding: 10px;
}